<div class="row">
  <div class="col-sm-12">
    <h3>Cadastro de Usuários</h3>
    <ol class="breadcrumb">
      <li><a href="#"></i> Home</a></li>
      <li><a href="#Pessoa/Usuario">Pessoa</a></li>
      <li class="active">Cadastro de Usuário></li>
    </ol>
  </div>
</div><!-- /.row -->

<div class="row">
  <div class="col-sm-12">
    <div class="panel panel-primary">
      <div class="panel-heading">
        <h3 class="panel-title">Novo Usuário</h3>
      </div>
      <div class="panel-body">
      
        <!-- Inicio Cadastro -->
        <div class="row">
          <div class="form-group col-sm-6">
            <label>Nome</label>
            <input type="text" class="form-control" required="">
          </div>
        </div>
        <div class="row">
          <div class="form-group col-sm-6">
            <label>Login</label>
            <input type="text" class="form-control" required="" placeholder="seuemail@exemplo.com" >
          </div>
        </div>
        
        <div class="row">
          <div class="form-group col-sm-6">
            <label>Senha</label>
            <input type="password" class="form-control" required="">
          </div>
        </div>

        <div class="row">
          <div class="form-group col-sm-6">
            <label>Repita sua Senha</label>
            <input type="password" class="form-control" required="">
          </div>
        </div>

         <div class="row">
          <div class="col-sm-6">
            <button type="submit" class="btn btn-success pull-right">Adicionar</button>
          </div>
        </div>

      </div> <!-- Fim panel-body -->
    </div><!--Fim panel-primary-->
  </div> <!-- Fim col-->
</div> <!-- Fim row -->
