<div class="table-responsive">
    <table class="table no-border table-hover">
        <thead class="no-border">
            <tr>
                <th class="col-sm-1 form-group">Id</th>
                <th class="col-sm-3 form-group">Razão</th>
                <th class="col-sm-2 form-group">Valor Contribuição</th>
                <th class="col-sm-1 form-group">Ativo</th>
                <th class="col-sm-2 form-group">Ações</th>
            </tr>
        </thead>
        <tbody ng-repeat="associadopj in page.list|filter:search">
            <tr>
                <td>{{associadopj.id}}</td>
                <td>{{associadopj.pessoaJuridica.razao}}</td>
                <td>{{associadopj.valorContribuicao}}</td>
                <td ng-if="associadopj.ativo == true">Sim</td>
                <td ng-if="associadopj.ativo != true">Não</td>
                <td>
                    <div class="pull-right">  
                        <a href="#/Pessoa/AssociadoPJ/{{associadopj.id}}/Visualizar" class="btn btn-primary btn-sm" title="Visualizar">
                            <span class="glyphicon glyphicon-eye-open"></span>
                        </a>
                        <a href="#/Pessoa/AssociadoPJ/{{associadopj.id}}/Editar" class="btn btn-warning btn-sm" title="Editar">
                            <span class="glyphicon glyphicon-pencil"></span>
                        </a>
                        <a ng-click="remover($index)" class="btn btn-danger btn-sm" title="Remover">
                            <span class="glyphicon glyphicon-trash"></span>
                        </a>
                        <a href="#/Pessoa/AssociadoPJ/{{associadopj.id}}/Pagamento" class="btn btn-warning btn-sm" title="Pagamento">
                            <span class="glyphicon glyphicon-barcode"></span>
                        </a>
                        <a href="associadopj/relatorio/listaPagamento/{{associadopj.id}}" class="btn btn-sm btn-info" title="Relatório" target="_blank">
                            <span class="glyphicon glyphicon-print"></span>
                        </a>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>

</div>

