<div class="table-responsive">
    <table class="table no-border hover">
        <thead class="no-border">
            <tr>
                <th class="col-sm-1 form-group">Id</th>
                <th class="col-sm-4 form-group">Nome</th>
                <th class="col-sm-3 form-group">Estado</th>
                <th class="col-sm-2 form-group">IBGE</th>
                <th class="col-sm-2 form-group">Ações</th>
            </tr>
        </thead>
        <tbody class="no-border-y" ng-repeat="cidade in page.list|filter:search">
            <tr>
                <td>{{cidade.id}}</td>
                <td>{{cidade.nome}}</td>
                <td>{{cidade.unidadefederativa.nome}}</td>
                <td>{{cidade.codigoIBGE}}</td>
                <td>
                    <a href="#/Localizacao/Cidade/{{cidade.id}}/Visualizar" class="btn btn-primary btn-sm" title="Visualizar">
                        <span class="glyphicon glyphicon-eye-open"></span>
                    </a>
                    <a href="#/Localizacao/Cidade/{{cidade.id}}/Editar" class="btn btn-warning btn-sm" title="Editar">
                        <span class="glyphicon glyphicon-pencil"></span>
                    </a>
                    <a ng-click="remover($index)" class="btn btn-danger btn-sm" title="Remover">
                        <span class="glyphicon glyphicon-trash"></span>
                    </a>
                </td>
            </tr>
        </tbody>
    </table>
</div>