<div class="table-responsive">
    <table class="table no-border hover">
        <thead class="no-border">
            <tr>
                <th width="40" class="col-sm-1 form-group">Id</th>
                <th width="40" class="col-sm-4 form-group">Nome</th>
                <th width="40" class="col-sm-2 form-group">Bairro</th>
                <th width="40" class="col-sm-2 form-group">Cidade</th>
                <th width="40" class="col-sm-1 form-group">Tipo Logradouro</th>
                <th width="40" class="col-sm-2 form-group">Ações</th>
            </tr>
        </thead>
        <tbody class="no-border-y" ng-repeat="logradouroAtual in page.list|filter:search">
            <tr>
                <td>{{logradouroAtual.id}}</td>
                <td>{{logradouroAtual.nome}}</td>
                <td>{{logradouroAtual.bairro.nome}}</td>
                <td>{{logradouroAtual.cidade.nome}}</td>
                <td>{{logradouroAtual.tipoLogradouro.descricao}}</td>
                <td>
                    <a href="#/Localizacao/Logradouro/{{logradouroAtual.id}}/Visualizar" class="btn btn-primary btn-sm" title="Visualizar">
                        <span class="glyphicon glyphicon-eye-open"></span>
                    </a>
                    <a href="#/Localizacao/Logradouro/{{logradouroAtual.id}}/Editar" class="btn btn-warning btn-sm" title="Editar">
                        <span class="glyphicon glyphicon-pencil"></span>
                    </a>
                    <a ng-click="remover($index)" class="btn btn-danger btn-sm" title="Remover">
                        <span class="glyphicon glyphicon-trash"></span>
                    </a>
                </td>
            </tr>
        </tbody>
    </table>
</div>
