<table class="table table-responsive table-hover">
    <thead>
        <tr>
            <th class="col-sm-1 form-group">Id</th>
            <th class="col-sm-5 form-group">Nome</th>
            <th class="col-sm-2 form-group">Codigo</th>
            <th class="col-sm-2 form-group">Sigla</th>
            <th class="col-sm-2 form-group">Ações</th>
        </tr>
    </thead>
    <tbody ng-repeat="pais in page.list|filter:search">
        <tr>
            <td>{{pais.id}}</td>
            <td>{{pais.nome}}</td>
            <td>{{pais.codigoIBGE}}</td>
            <td>{{pais.sigla}}</td>
            <td>
                <div class="pull-right">  
                    <a href="#/Localizacao/Pais/{{pais.id}}/Visualizar" class="btn btn-primary btn-sm">
                        <span class="glyphicon glyphicon-eye-open"></span>
                    </a>
                    <a href="#/Localizacao/Pais/{{pais.id}}/Editar" class="btn btn-warning btn-sm">
                        <span class="glyphicon glyphicon-pencil"></span>
                    </a>
                    <a ng-click="remover($index)" class="btn btn-danger btn-sm">
                        <span class="glyphicon glyphicon-trash"></span>
                    </a>
                </div>
            </td>
        </tr>
    </tbody>
</table>