<table class="table table-responsive table-hover">
    <thead>
        <tr>
            <th class="col-sm-1 form-group">Id</th>
            <th class="col-sm-4 form-group">Nome</th>
            <th class="col-sm-3 form-group">Cidade</th>
            <th class="col-sm-4 form-group">Ações</th>
        </tr>
    </thead>
    <tbody ng-repeat="bairro in page.list | filter:search">
        <tr>
            <td>{{bairro.id}}</td>
            <td>{{bairro.nome}}</td>
            <td>{{bairro.cidade.nome}}</td>
            <td>
                <div class="pull-right">  
                    <a href="#/Localizacao/Bairro/{{bairro.id}}/Visualizar" class="btn btn-primary btn-sm">
                        <span class="glyphicon glyphicon-eye-open"></span>
                    </a>
                    <a href="#/Localizacao/Bairro/{{bairro.id}}/Editar" class="btn btn-warning btn-sm">
                        <span class="glyphicon glyphicon-pencil"></span>
                    </a>
                    <a ng-click="remover($index)" class="btn btn-danger btn-sm">
                        <span class="glyphicon glyphicon-trash"></span>
                    </a>
                </div>
            </td>
        </tr>
    </tbody>
</table>