<div class="row">
	<div class="form-group col-sm-5">
		<label>Nome</label>
		<input class="form-control" type="text">
	</div>
</div>
<div class="row">
	<div class="form-group col-sm-5">
		<label>Cidade</label>
		<input class="form-control" type="text">
	</div>
</div>
<div class="row">
	<div class="form-group col-sm-5">
		<label>Estado</label>
		<input class="form-control" type="text">
	</div>
</div>
<div class="row">
	<div class="form-group col-sm-5">
		<label>Pais</label>
		<input class="form-control" type="text">
	</div>
</div>
<div class="row">
	<div class="form-group col-sm-2">
		<a class="form-control btn btn-danger">Remover</a>
	</div>

	<div class="form-group col-sm-2">
		<a class="form-control btn btn-info">Editar</a>
	</div>

	<div class="form-group col-sm-2">
		<a class="form-control btn btn-success">Salvar</a>
	</div>
</div>