
<div class="container" >
    <div class="row" >
    	<h2>Estados</h2>
    </div>

	<div class="row" >
		<a  type="button" class="col-sm-offset-6 btn btn-default" href="#/Localizacao/Estado/Novo">
			<i class="glyphicon glyphicon-plus"></i> Novo
		</a>
	</div>
   <div class="row"><label>&nbsp;</label> </div>

	<div class="row">
		<div class="col-sm-7">
			<input class="form-control" type="text" name="busca" placeholder="Busca" ng-model="busca"/>
		</div>	
	</div>
   <div class="row"><label>&nbsp;</label> </div>

	<div class="row col-sm-7">
		<table class="table table-hover ">
  				<thead>
  					<th>Nome</th>
  					<th>UF</th>
            <th>Pais</th>
            <th>&nbsp;</th>
  				</thead>
  				<tbody>
  					<tr>
  						<td>Parana</td>
  						<td>PR</td>
              <td>Brasil</td>
              <td>
                <a href="#/Localizacao/Estado/Novo">
                  <i class="glyphicon glyphicon-zoom-in"></i>
                </a>
              </td>
  					</tr>
  				</tbody>
  			</table>
	</div>
</div>
