<!--Fim breadcrumb -->
<div class="row">
  <div class="col-sm-12">
    <h3>Cadastro de País</h3>
    <ol class="breadcrumb">
      <li><a href="#"></i> Home</a></li>
      <li><a href="#Localizacao/Pais"> País</a></li>
      <li class="active">Cadastro de País</li>
    </ol>
  </div>
</div>
<!--Fim breadcrumb -->

<div class="row">
  <div class="col-sm-12">
    <div class="panel panel-primary">
      <div class="panel-heading">
        <h3 class="panel-title">Novo País</h3>
      </div>
      <div class="panel-body">
      
        <!-- Inicio Cadastro -->
        <div class="row">
          <div class="form-group col-sm-6">
            <label>Nome</label>
            <input type="text" class="form-control" required="">
          </div>
        </div>
        <div class="row">
          <div class="form-group col-sm-6">
            <label>Sigla</label>
            <input type="text" class="form-control" required="">
          </div>
        </div>
        
        <div class="row">
					<div class="form-group col-sm-2">
						<a class="form-control btn btn-danger">Remover</a>
					</div>

					<div class="form-group col-sm-2">
						<a class="form-control btn btn-warning">Editar</a>
					</div>

					<div class="form-group col-sm-2">
						<a class="form-control btn btn-success">Salvar</a>
					</div>
				</div>	

      </div> <!-- Fim panel-body -->
    </div><!--Fim panel-primary-->
  </div> <!-- Fim col-->
</div> <!-- Fim row -->

