<!-- Breadcrumb-->
<div class="row">
  <div class="col-sm-12">
    <h2>País</h2>
    <ol class="breadcrumb">
      <li><a href="#"></i>Home</a></li>
      <li class="active">País</li>
    </ol>
  </div>
</div>
<!--Fim Breadcrumb-->
<!-- Página: Lista de Distritos -->
<div class="row">
  <div class="col-sm-12">
    <div class="panel panel-primary">
      <div class="panel-heading">
        <h3 class="panel-title"><a href="#Localizacao/Pais/Novo"><span class="glyphicon glyphicon-plus"></span> Novo</a></h3>
      </div>
      <div class="panel-body">
        <div class="row">
          <div class="form-group col-sm-12">
            <input type="text" class="form-control " placeholder="Digite o que você procura">
          </div>
        </div>
        <table class="table table-responsive table-hover">
          <thead>
            <tr>
              <th class="col-sm-1"><input type="checkbox"/></th>
              <th class="col-sm-1 form-group">Id</th>
              <th class="col-sm-6 form-group">Nome</th>
              <th class="col-sm-2 form-group">Sigla</th>
              <th class="col-sm-2 form-group">Ações</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td><input type="checkbox"/></td>
              <td>Codigo</td>
              <td>Nome</td>
              <td>Sigla</td>
              <td>
                <div class="pull-right">  
                  <a class="btn btn-primary btn-sm">
                    <span class="glyphicon glyphicon-search"></span>
                  </a>
                  <a class="btn btn-warning btn-sm">
                    <span class="glyphicon glyphicon-pencil"></span>
                  </a>
                  <a class="btn btn-danger btn-sm">
                    <span class="glyphicon glyphicon-trash"></span>
                  </a>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
     </div>  <!-- Fim panel-body -->
    </div> <!-- Fim panel -->
  </div> <!-- Fim col -->
</div> <!-- Fim row-->
