<div class="row" ng-controller="EnderecoController" ng-init="init()">
    <div class="table-responsive">
        <table class="table table-hover" id="tableList">
            <thead>
                <tr>
                    <th colspan="2">
            <div class="form-group col-lg-12 col-sm-12">
                <button class="btn btn-success" ng-click="incluir()">Novo endereco</button>
            </div>
            </th>
            </tr>
            <tr>
                <th colspan="2">
            <ul class="pagination">
                <li class="{{page.pageNumber == 1 ? 'disabled' : ''}}">
                    <a ng-click="loadEndereco(1)">
                        <span class="glyphicon glyphicon-fast-backward"/>
                    </a>
                </li>
                <li class="{{page.pageNumber == 1 ? 'disabled' : ''}}">
                    <a ng-click="loadEndereco(page.pageNumber - 1)">
                        <span class="glyphicon glyphicon-step-backward"/>
                    </a>
                </li>

                <li ng-repeat="numeroPagina in page.pagesAround" class="{{numeroPagina == page.pageNumber ? 'active' : ''}}">
                    <a ng-click="loadEndereco(numeroPagina)">{{numeroPagina}}</a>
                </li>

                <li class="{{page.pageNumber == page.pageCount ? 'disabled' : ''}}">
                    <a ng-click="loadEndereco(page.pageNumber + 1)">
                        <span class="glyphicon glyphicon-step-forward"/>
                    </a>
                </li>
                <li class="{{page.pageNumber == page.pageCount ? 'disabled' : ''}}">
                    <a ng-click="loadEndereco(page.pageCount)">
                        <span class="glyphicon glyphicon-fast-forward"/>
                    </a>
                </li>
            </ul>
            </th>
            </tr>
            <tr>
                <th class="col-md-3">CEP</th>
                <th class="col-md-3">Numero</th>
                <th class="col-md-3">Complemento</th>
                <th class="col-md-3">Bairro</th>
                <th class="col-md-3">Logradouro</th>
                <th class="col-md-3 text-right"></th>
            </tr>
            </thead>
            <tbody ng-repeat="endereco in page.list">
                <tr>
                    <td>{{endereco.cep}}</td>
                    <td class="text-right">
                        <a href="#/cadastros/endereco/editar/{{endereco.id}}" class="btn btn-link btn-success" title="Editar">
                            <span class="glyphicon glyphicon-pencil" />
                        </a>
                        <button type="button" class="btn btn-link btn-danger" title="Excluir" ng:click="remover($index)">
                            <span class="glyphicon glyphicon-trash" />
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
