<div class="table-responsive">
    <table class="table no-border table-hover">
        <thead class="no-border">
            <tr>
                <th class="col-sm-1 form-group">Id</th>
                <th class="col-sm-4 form-group">Razão Social</th>
                <th class="col-sm-3 form-group">Nome Fantasia</th>
                <th class="col-sm-2 form-group">CNPJ</th>
                <th class="col-sm-2 form-group">Ações</th>
            </tr>
        </thead>
        <tbody ng-repeat="pessoa in page.list">
            <tr>
                <td>{{pessoa.id}}</td>
                <td>{{pessoa.razao| uppercase}}</td>
                <td>{{pessoa.fantasia| uppercase}}</td>
                <td>{{pessoa.cnpj}}</td>
                <td>
                    <div class="pull-right">  
                        <a href="#/Pessoa/Editora/{{pessoa.id}}/Visualizar" class="btn btn-primary btn-sm" title="Visualizar">
                            <span class="glyphicon glyphicon-eye-open"></span>
                        </a>
                        <a href="#/Pessoa/Editora/{{pessoa.id}}/Editar" class="btn btn-warning btn-sm" title="Editar">
                            <span class="glyphicon glyphicon-pencil"></span>
                        </a>
                        <a ng-click="remover($index)" class="btn btn-danger btn-sm" title="Remover">
                            <span class="glyphicon glyphicon-trash"></span>
                        </a>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
</div>
